/* style mmv3 */

/********GLOBAL*****/

body{
    font-family: "latoregular" !important;
    font-size: 16px;
    color: #303030 !important;
}
.navbar{
    background: #fff;
    color: #303030;
}
.navbar a, .navbar.navbar-dark, .navbar-nav, .nav-item, .nav-link, .navbar li a{
    color: #303030 !important;
    font-size: 18px;
}

/*Importando as fontes do projeto*/
@font-face {
    font-family: 'latoblack';
    src: url('./../assets/v3/font/lato/lato-black-webfont.woff2') format('woff2'),
         url('./../assets/v3/font/lato/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoblack_italic';
    src: url('./../assets/v3/font/lato/lato-blackitalic-webfont.woff2') format('woff2'),
         url('./../assets/v3/font/lato/lato-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('./../assets/v3/font/lato/lato-bold-webfont.woff2') format('woff2'),
         url('./../assets/v3/font/lato/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold_italic';
    src: url('./../assets/v3/font/lato/lato-bolditalic-webfont.woff2') format('woff2'),
         url('./../assets/v3/font/lato/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoitalic';
    src: url('./../assets/v3/font/lato/lato-italic-webfont.woff2') format('woff2'),
         url('./../assets/v3/font/lato/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('./../assets/v3/font/lato/lato-light-webfont.woff2') format('woff2'),
         url('./../assets/v3/font/lato/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight_italic';
    src: url('./../assets/v3/font/lato/lato-lightitalic-webfont.woff2') format('woff2'),
         url('./../assets/v3/font/lato/lato-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('./../assets/v3/font/lato/lato-regular-webfont.woff2') format('woff2'),
         url('./../assets/v3/font/lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latohairline';
    src: url('./../assets/v3/font/lato/lato-thin-webfont.woff2') format('woff2'),
         url('./../assets/v3/font/lato/lato-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latohairline_italic';
    src: url('./../assets/v3/font/lato/lato-thinitalic-webfont.woff2') format('woff2'),
         url('./../assets/v3/font/lato/lato-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Clases abstratas*/
.font-default {
  font-family: "latoregular";
}

.font-default-bold {
  font-family: "latobold";
}

.font-default-black {
  font-family: "latoblack";
}

.font-default-light {
  font-family: "latolight";
}

.font-default-hairline {
  font-family: "latohairline";
}

h1{
    font-size: 34px !important;
}
h2{
    font-size: 28px !important;
}
h3{
    font-size: 22px !important;
}
h4{
    font-size: 18px !important;
}
h5{
    font-size: 16px !important;
}
h6{
    font-size: 14px !important;
}
a{
    color: #303030;
}
/*Cores*/
.color-gray-light{
    color: #999 !important;
}
.color-gray{
    color: #303030 !important;
}
.color-orange{
    color: #ff7539 !important;
}
.bg-gradient-blue{
    background-image: linear-gradient(202deg, #0079b8 193%, #05afc2 6%);
}
.bg-gray-light{
    background-color: #fafafa !important;
}
.bg-white{
    background-color: #fff !important;
}
.bg-gray{
    background-color: gray !important;
}
.bg-gray-dark{
    background: #303030 !important;
}
.bg-orange{
    background-color: #ff7539 !important;
}
/*Margins e paddings*/
.mb-40{
    margin-bottom: 40px !important;
}
.mt-40{
    margin-top: 40px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-25-vh{
    margin-top: 5%;
}
.pt-25-vh{
    padding-top: 25vh;
}
/*Personalizacoes geral*/
.box-shadow{
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;  
}
.h-fit-content{
    height: fit-content !important;
}

/*** Header ***/
.logo-header-mm {
    width: 195px;
}


/**Footer**/
ul.menu-footer{
    margin: 0;
    padding: 0;
    line-height: 2.5rem;
    list-style: none;
    font-size: 16px;
}

/**Newsletter*/
.box-news{
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.box-depoimentos{
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;  
}

/********HOME*****/
.home-section1{
    background: url(./../assets/v3/img/banner1-home.jpg);
    background-size: cover;
    height: 80vh;
}
.home-sec2-col-2{
    padding: 40px;
}
.box-videos{
    width: 353px;
    height: 200px;
}
.bg-img-fluxo{
    background: url(./../assets/v3/img/bg-fluxo.png);
    background-size: cover;
    min-height: 365px;
}

/*** PRODUTOS ***/


/*** BLOG ***/
.etiqueta-destaque {
    width: 144px;
    height: 34px;
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    background-image: linear-gradient(247deg, #0079b8 148%, #05afc2 26%);
    margin-top: -15px;
    padding-top: 4px;
}
.box-post h3 a, .site-main a{
    color: #303030;
}
.category-blog a, .date-blog{
    color: #303030;
    font-size: 14px;
}
a.item.menu-category.blog {
    color: #303030;
    box-shadow: 1px 0 0 0 rgba(213, 213, 213, 0.4);
    background-color: #ffffff;
    padding: 8px 10px;
    margin-right: 2px;
}
div#box-search-blog{
    padding: 10px 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}
a.float-left.btn-search.blog {
    padding-left: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
nav.navigation.post-navigation {
    padding: 0 5%;
}

/************MOBILE***************/
@media (max-width: 576px) {
    /*Geral*/
    h1{
        font-size: 30px !important;
    }
    h2{
        font-size: 20px !important;
    }
    h3{
        font-size: 18px !important;
    }
    h4{
        font-size: 14px !important;
    }
    h5{
        font-size: 13px !important;
    }
    h6{
        font-size: 12px !important;
    }
    .scroll-x {
        overflow-x: auto;
    }
    .navbar.navbar-dark .navbar-toggler-icon {        
        background-color: #33b5e5 !important;
        padding: 16px 20px;
        border-radius: 4px;
    }

    /*Home*/
    .home-section1{
        background: url(./../assets/v3/img/banner-blog-left.png);
        background-size: cover;
        height: 80vh;
        margin-top: 58px;
    }
    .bg-img-fluxo{
        background-image: none;
        background-size: cover;
        min-height: 365px;
    }
    .box-border-fluxo{
        background: white;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 200px;
        width: 200px;
        height: 230px;
    }
}

/*** WOOCOMMERCE ****/
.shop_table thead{
    border-bottom: 1px solid #d5d5d5;
    font-weight: bold;
}
/*Oculta o campo para criar um titulo no checkout*/
input#heading_address_billing_details {
    display: none !important;
}
label.heading-address-billing-details {
    font-size: 22px;
    margin: 10px 0;
    color:#303030 !important;
}
label.heading-address-billing-details::before {
    font-family: FontAwesome;
    content: "\f015";
    margin-right: 5px;
}
.woocommerce-billing-fields__field-wrapper label,
.woocommerce-billing-fields__field-wrapper input,
.woocommerce-billing-fields__field-wrapper {
    width: 100%;
    color: #606060;
}
.woocommerce-billing-fields__field-wrapper span.woocommerce-input-wrapper {
    width: 100%;
}
#place_order{
    color: #fff!important;
    background-color: #ff7539 !important;
    width: 100%!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: inherit;
}